@reset-global pc;
@reset-global mobile;

@font-face {
    font-family: 'Jost';
    src: url('./assets/fonts/Jost-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

body {
    font-family: 'Jost', sans-serif;
}

html, body {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0.1);
}

:focus-visible {
    outline: none;
    box-shadow: 0 0 0 3px #efa237;
}